In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.metrics import classification_report, accuracy_score, roc_auc_score

In [2]:
# import dataset 
train_df = pd.read_csv('train_set.csv')
test_df = pd.read_csv('test_set.csv')

In [3]:
train_df.head()

  lang_id                                               text
0     xho  umgaqo-siseko wenza amalungiselelo kumaziko ax...
1     xho  i-dha iya kuba nobulumko bokubeka umsebenzi na...
2     eng  the province of kwazulu-natal department of tr...
3     nso  o netefatša gore o ba file dilo ka moka tše le...
4     ven  khomishini ya ndinganyiso ya mbeu yo ewa maana...

In [4]:
test_df.head()

   index                                               text
0      1  Mmasepala, fa maemo a a kgethegileng a letlele...
1      2  Uzakwaziswa ngokufaneleko nakungafuneka eminye...
2      3         Tshivhumbeo tshi fana na ngano dza vhathu.
3      4  Kube inja nelikati betingevakala kutsi titsini...
4      5                      Winste op buitelandse valuta.

Check for any null values

In [5]:
train_df.isnull().sum()

lang_id    0
text       0
dtype: int64

In [6]:
test_df.isnull().sum()

index    0
text     0
dtype: int64

Take a look at all the languages present in the train dataset

In [7]:
train_df["lang_id"].value_counts()

xho    3000
eng    3000
nso    3000
ven    3000
tsn    3000
nbl    3000
zul    3000
ssw    3000
tso    3000
sot    3000
afr    3000
Name: lang_id, dtype: int64

The train dataset contains 11 languages with 3000 sentences from each language. The dataset is therefore very balanced and has no missing values. The dataset is ready to be used to train a machine learning model.

In [8]:
X = np.array(train_df["text"])
y = np.array(train_df["lang_id"])


X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.33, 
                                                    random_state=42)

## Multinomial Naive Bayes

In [9]:
mnb = Pipeline([('vect', CountVectorizer(stop_words='english', 
                             min_df=1, 
                             max_df=0.9, 
                             ngram_range=(1, 3))),('tfidf', TfidfTransformer()),('model', MultinomialNB())])
mnb.fit(X_train, y_train)
y_pred = mnb.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         afr       1.00      1.00      1.00       984
         eng       1.00      1.00      1.00       991
         nbl       0.99      0.99      0.99       953
         nso       1.00      1.00      1.00      1026
         sot       1.00      1.00      1.00      1022
         ssw       1.00      1.00      1.00       998
         tsn       1.00      1.00      1.00       984
         tso       1.00      1.00      1.00       952
         ven       1.00      1.00      1.00      1034
         xho       1.00      1.00      1.00      1007
         zul       1.00      0.99      0.99       939

    accuracy                           1.00     10890
   macro avg       1.00      1.00      1.00     10890
weighted avg       1.00      1.00      1.00     10890

In [10]:
y_test = mnb.predict(test_df['text'])
output = pd.DataFrame({'lang_id': y_test})
output.to_csv('Lista_Abutto_Submission.csv', index=False)
output

     lang_id
0        tsn
1        nbl
2        ven
3        ssw
4        afr
...      ...
5677     eng
5678     nso
5679     sot
5680     sot
5681     tso

[5682 rows x 1 columns]